button {
    transition-duration: .1s;
    border-radius: 8px;
    background-color: #3a7742; color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 8px 12px;
    border: 2px solid #04AA6D;
    box-shadow: 0 5px #999;
  }
  
  button:hover {
    background-color: #fffee0;
    color: #000000;
  }

  button:active {
    background-color: #3e8e41;
    box-shadow: 0 3px #666;
    transform: translateY(2px);
  }
